# Food Delivery Data Analysis Hackathon

## Objective
This notebook combines transactional, user, and restaurant datasets to create a single source of truth and answers all hackathon questions using data-driven analysis.

## Import Required Libraries

In [7]:
import pandas as pd
import numpy as np
import sqlite3
import json

## Load Raw Datasets
We load data from CSV, JSON, and SQL formats representing real-world systems.

In [8]:
# Load orders data (CSV)
orders = pd.read_csv('orders.csv')

# Load users data (JSON)
with open('users.json', 'r') as f:
    users = pd.DataFrame(json.load(f))

# Load restaurants data (SQL)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
with open('restaurants.sql', 'r') as f:
    cursor.executescript(f.read())

restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

## Data Inspection

In [3]:
orders.head()
users.head()
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

## Data Merging
LEFT JOIN is used to retain all order records.

In [4]:
merged_df = orders.merge(users, on='user_id', how='left')
final_df = merged_df.merge(restaurants, on='restaurant_id', how='left')

## Save Final Dataset

In [5]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

## Hackathon Analysis Questions
Each question is answered using Python code below.

### Example Question: Total Orders by Gold Members

In [6]:
gold_orders = final_df[final_df['membership'] == 'Gold'].shape[0]
gold_orders

4987

## Summary & Insights

- Gold members contribute a significant portion of total orders.
- Certain cities and cuisines dominate revenue.
- Highly rated restaurants generate higher order values.